@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  --line-color: #333;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  color: white; 
}

/* Main Background Graphic */
.geometric-shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  max-width: 65rem;
  max-height: 65rem;
  background-image: url('/final-shape.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* Almost fully grey (90%), lower opacity (0.3) for blending */
  filter: grayscale(90%) opacity(0.3) brightness(0.8);
  z-index: 0;
}


a,
button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: none !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
